<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/modal.css}">
    <link rel="stylesheet" th:href="@{/css/charts/charts.css}">
    <link rel="stylesheet" th:href="@{/css/record.css}">
    <script src="https://kit.fontawesome.com/de9b677ac7.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script th:src="@{/js/memmodal.js}"></script>
    <script type="text/javascript">
        const home = (type) => {
            if (type == 'admin') {
                location.href = '/index_admin';
            } else if (type == 'emp') {
                location.href = '/index_emp';
            } else {
                location.href = '/';
            }
        }

        const openTab = (evt, tabName) => {
            // Hide all tab contents
            let tabContents = document.getElementsByClassName("tabcontent");
            for (let i = 0; i < tabContents.length; i++) {
                tabContents[i].style.display = "none";
            }

            // Remove active class from all tab links
            let tabLinks = document.getElementsByClassName("tablinks");
            for (let i = 0; i < tabLinks.length; i++) {
                tabLinks[i].className = tabLinks[i].className.replace(" active", "");
            }

            // Show the current tab and add an "active" class to the link
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function addSelectedMembers(event) {
            // 폼 제출 막기
            event.preventDefault();
            // 선택된 멤버들을 가져오기
            var selectedMembers = document.querySelectorAll('.list_ch:checked');

            // 현재 활성화된 탭의 결재권한 select 요소 가져오기
            var activeTab = document.querySelector('.tabcontent[style*="display: block"]');
            var seniorSelect = activeTab.querySelector('.form-select.senior-select');

            // 결재권한 태그에 선택된 멤버들 추가
            selectedMembers.forEach(function (member) {
                var username = member.closest('tr').querySelector('.list_name').textContent;
                var userid = member.closest('tr').querySelector('.list_id').textContent;
                var jobLevel = member.closest('tr').querySelector('.list_lv').textContent;
                var option = document.createElement('option');
                option.text = username + ' / ' + userid + ' / ' +jobLevel;
                option.value = userid; // 실제 값으로 설정
                option.selected = true;
                seniorSelect.appendChild(option);
            });

            // 모달 닫기 (Bootstrap의 경우)
            var memberModalElement = document.getElementById('memberModal');
            var memberModal = bootstrap.Modal.getInstance(memberModalElement);
            memberModal.hide();
        }

        document.addEventListener('DOMContentLoaded', function () {
            var memberModalElement = document.getElementById('memberModal');

            memberModalElement.addEventListener('hidden.bs.modal', function () {
                // 체크박스 선택 해제
                var checkboxes = memberModalElement.querySelectorAll('.list_ch');
                checkboxes.forEach(function (checkbox) {
                    checkbox.checked = false;
                });
            });
        });
        // 모달 내의 추가 버튼에 클릭 이벤트 리스너 추가
        document.querySelector('#memberModal .btn-primary').addEventListener('click', addSelectedMembers);
    </script>
    <style>
        select[readonly] {
            background-color: #ddd;
            pointer-events: none;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border-bottom: 1px solid #ccc;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        select[readonly] {
            background-color: #ddd;
            pointer-events: none;
        }

        option:checked {
            background-color: #fff !important;
            /* 선택된 옵션 배경색 기본값으로 설정 */
            color: #000 !important;
            /* 선택된 옵션 텍스트 색상 기본값으로 설정 */
        }
    </style>
</head>

<body>
    <div th:replace="~{/common/header :: header}"></div>
    <div th:replace="~{/common/leftnav :: leftNav}"></div>
    <div class="main_body">
        <div class="record_table w_bg">
            <div class="row">
                <div class="col-12">
                    <h3 class="font_b24 m_b2">문서 작성폼</h3>
                    <!-- Tab 링크들 -->
                    <div class="tab">
                        <button class="tablinks btn btn-outline-primary" onclick="openTab(event, 'report')"
                            id="defaultOpen">보고서</button>
                        <button class="tablinks btn btn-outline-primary" onclick="openTab(event, 'vacation')">휴가
                            신청서</button>
                        <button class="tablinks btn btn-outline-primary"
                            onclick="openTab(event, 'meeting')">회의록</button>
                    </div>
                </div>
            </div>

            <!-- Tab 보고서 양식 시작 -->
            <div id="report" class="tabcontent">
                <form action="/auth/docx/addreport" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">작성글제목</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="mb-3">
                        <label for="writer" class="form-label">작성자</label>
                        <input type="text" class="form-control" id="writer" name="writer" th:value="${session.loginId}"
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="enddt" class="form-label">기한</label>
                        <input type="date" class="form-control" id="enddt" name="enddt">
                    </div>
                    <div class="mb-3">
                        <label for="taskplan" class="form-label">업무계획</label>
                        <textarea class="form-control" id="taskplan" name="taskplan" rows="4"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="taskprocs" class="form-label">업무진행과정</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="taskprocs"
                            rows="4"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="senior" class="form-label">결제권한</label>
                        <select class="form-select senior-select" id="senior" name="senior" multiple>
                        </select>
                        <td>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#memberModal"
                                class="taskidshare">
                                <i class="fa-solid fa-user-plus"></i>
                            </button>
                        </td>
                    </div>
                    <select style="display: none;" name="status" onFocus="this.initialSelect = this.selectedIndex;"
                        onChange="this.selectedIndex = this.initialSelect;" readonly>
                        <option value="1" selected>미승인</option>
                        <option value="2">승인</option>
                        <option value="3">보류</option>
                    </select>
                    <input type="hidden" name="formtype" value="보고서">
                    <button type="submit" class="btn btn-primary">등록</button>
                </form>
            </div>

            <!-- 휴가서 작성 양식 -->
            <div id="vacation" class="tabcontent">
                <form action="/auth/docx/addvacation" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">작성글제목</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="mb-3">
                        <label for="writer" class="form-label">작성자</label>
                        <input type="text" class="form-control" id="writer" name="writer" th:value="${session.loginId}"
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="enddt" class="form-label">종료일</label>
                        <input type="date" class="form-control" id="enddt" name="enddt">
                    </div>
                    <div class="mb-3">
                        <label for="dayoffclasf" class="form-label">휴가구분</label>
                        <select class="form-select" id="dayoffclasf" name="dayoffclasf">
                            <option value="연차">연차</option>
                            <option value="병가">병가</option>
                            <option value="기타">기타</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="note" class="form-label">비고</label>
                        <textarea class="form-control" id="note" name="note" rows="4"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="senior" class="form-label">결제권한</label>
                        <select class="form-select senior-select" id="senior" name="senior" multiple>
                        </select>
                        <td>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#memberModal"
                                class="taskidshare">
                                <i class="fa-solid fa-user-plus"></i>
                            </button>
                        </td>
                    </div>
                    <select style="display: none;" name="status" onFocus="this.initialSelect = this.selectedIndex;"
                        onChange="this.selectedIndex = this.initialSelect;" readonly>
                        <option value="1" selected>미승인</option>
                        <option value="2">승인</option>
                        <option value="3">보류</option>
                    </select>
                    <input type="hidden" name="formtype" value="휴가 신청서">
                    <button type="submit" class="btn btn-primary">등록</button>
                </form>
            </div>

            <!-- 회의록 작성 양식 -->
            <div id="meeting" class="tabcontent">
                <form action="/auth/docx/addmeeting" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">작성글제목</label>
                        <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="mb-3">
                        <label for="writer" class="form-label">작성자</label>
                        <input type="text" class="form-control" id="writer" name="writer" th:value="${session.loginId}"
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="startdt" class="form-label">회의일시</label>
                        <input type="datetime-local" class="form-control" id="startdt" name="startdt">
                    </div>
                    <div class="mb-3">
                        <label for="deptandmeetloc" class="form-label">회의장소</label>
                        <input type="text" class="form-control" id="deptandmeetloc" name="deptandmeetloc">
                    </div>
                    <div class="mb-3">
                        <label for="participant" class="form-label">참석자</label>
                        <textarea class="form-control" id="participant" name="participant" rows="4"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="taskprocsres" class="form-label">회의내용</label>
                        <textarea class="form-control" id="taskprocsres" name="taskprocsres" rows="4"></textarea>
                    </div>
                    <select style="display: none;" name="status" onFocus="this.initialSelect = this.selectedIndex;"
                        onChange="this.selectedIndex = this.initialSelect;" readonly>
                        <option value="1" selected>미승인</option>
                        <option value="2">승인</option>
                        <option value="3">보류</option>
                    </select>
                    <input type="hidden" name="formtype" value="회의록">
                    <button type="submit" class="btn btn-primary">등록</button>
                </form>
            </div>
            <script>
                document.getElementById("defaultOpen").click();
            </script>
            <div class="mt-4">
                <button class="btn btn-secondary" th:onclick="home([[${session.type}]])">홈버튼</button>
                <a href="/auth/docx/list" class="btn btn-secondary">리스트 페이지</a>
            </div>

            <section id="member_modal_section">
                <div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered mem_modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="memberModalLabel">멤버 선택</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="list_line" method="post">
                                    <table class="m20 table_w100">
                                        <tr>
                                            <td>
                                                <select class="select_box" name="type">
                                                    <option value="1">부서이름</option>
                                                    <option value="2">직원이름</option>
                                                    <option value="3">직급</option>
                                                </select>
                                            </td>
                                            <td class="list_search_wrapper">
                                                <input class="list_input" type="text" name="val">
                                                <button type="button" class="btn blue_btn list_search"
                                                    onclick="list_search()">검색</button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                                <form class="modal_list" action="">
                                    <div class="modal_table_wrapper">
                                        <table class="table_w100 modal_table">
                                            <thead class="list_line ">
                                                <tr>
                                                    <td><input type="checkbox"></td>
                                                    <td class="w40 f600">Name</td>
                                                    <td class="f600">E-mail</td>
                                                </tr>
                                            </thead>
                                            <tbody class="modal_body">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" value="선택" class="btn blue_btn"
                                            onclick="addSelectedMembers(event)">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>