<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/record.css}">
    <script src="https://kit.fontawesome.com/de9b677ac7.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript">
        const home = (type) => {
            if (type == 'admin') {
                location.href = '/index_admin';
            } else if (type == 'emp') {
                location.href = '/index_emp';
            } else {
                location.href = '/';
            }
        }

        // const deleteDocument = (docxKey) => {
        //     location.href = `/auth/docx/deldocx?docxkey=${docxKey}`;
        // }
    </script>
    <style>
        /* 문서 제목 text color */
        .record_rtable .title-cell a {
            font-weight: bold;
            color: #007bff;
            text-decoration: none;
        }

        /* 문서 제목 호버 */
        .record_rtable .title-cell a:hover {
            color: #0056b3;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div th:replace="~{/common/header :: header}"></div>
    <div th:replace="~{/common/leftnav :: leftNav}"></div>
    <div class="main_body">
        <input type="button" value="홈버튼" th:onclick="home([[${session.type }]])" class="btn btn-secondary btn-sm"><br />
        <div class="record_table w_bg">
            <h2 style="text-align: center;" class="font_b24 m_b2">문서보관함</h2>
            <form action="/auth/docx/list" method="post">
                <label for="searchType"></label>
                <select id="searchType" name="searchType">
                    <option value="title">제목</option>
                    <option value="writer">작성자</option>
                </select>
                <input type="text" id="searchValue" name="searchValue" placeholder="검색 내용 입력..">
                <input type="submit" value="검색" class="btn btn-secondary">
            </form>
            <div class="record_table_wrapper">
                <!-- <div style="margin-bottom: 10px;">
                    <a href="/auth/docx/approved" class="btn btn-primary">승인된 문서 보기</a>
                    <a href="/auth/docx/unapproved" class="btn btn-danger">미승인된 문서 보기</a>
                </div> -->
                <table class="record_rtable">
                    <thead>
                        <th>글제목</th>
                        <th>작성자</th>
                        <th>서류종류</th>
                        <th>작성일</th>
                        <th>결재현황</th>
                        <th>문서삭제</th>
                    </thead>
                    <tbody class="record_list">
                        <tr th:each="s:${list}">
                            <input type="hidden" value="${s.formnum}">
                            <td class="title-cell">
                                <a th:if="${s.formtype == '보고서'}"
                                    th:href="@{/auth/docx/getdocx(formnum=${s.formnum},docxkey=${s.docxkey},formtype=${s.formtype})}"
                                    th:text="${s.title}"></a>
                                <a th:if="${s.formtype == '휴가 신청서'}"
                                    th:href="@{/auth/docx/getvacation(formnum=${s.formnum},docxkey=${s.docxkey},formtype=${s.formtype})}"
                                    th:text="${s.title}"></a>
                            </td>
                            <td th:text="${s.writer.id}" id="writer" name="writer"></td>
                            <td th:text="${s.formtype}"></td>
                            <td th:text="${s.startdt}"></td>
                            <td th:switch="${s.status}">
                                <span th:case="1" class="fa-sharp fa-solid fa-badge-check">미승인</span>
                                <span th:case="2" class="fa-sharp fa-solid fa-badge-check">승인</span>
                                <span th:case="3">보류</span>
                                <span th:case="*">&nbsp;</span>
                            </td>
                            <td th:if="${s.writer.id} == ${session.loginId} and ${s.status} == 1">
                                <a th:href="@{/auth/docx/deldocx(docxkey=${s.docxkey})}"><i
                                        class="fa-sharp fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 페이지네이션 시작 -->
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                            <a class="page-link" th:href="@{/auth/docx/list(page=${currentPage - 1}, size=${pageSize})}"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"
                            th:classappend="${currentPage == i} ? 'active'">
                            <a class="page-link" th:text="${i}"
                                th:href="@{/auth/docx/list(page=${i}, size=${pageSize})}"></a>
                        </li>
                        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                            <a class="page-link" th:href="@{/auth/docx/list(page=${currentPage + 1}, size=${pageSize})}"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- 페이지네이션 종료지점 -->
                <a href="/auth/docx/addreport" class="nav_link">
                    <!-- <div class="icon_wrapper">
                        <img th:src="@{/img/common/home.png}" class="nav_link_icon">
                    </div> -->
                    <span class="nav_link_text">서류 작성</span>
                </a>
                <a th:href="@{/auth/docx/mylist(writer=${session.loginId})}" class="nav_link">
                    <!-- <div class="icon_wrapper">
                        <img th:src="@{/img/common/home.png}" class="nav_link_icon">
                    </div> -->
                    <span class="nav_link_text">내 문서 보관함</span>
                </a>
            </div>
        </div>
    </div>
</body>

</html>