<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
</head>
<body>
<div th:replace="~{/common/header :: header}"></div>
<div th:replace="~{/common/leftnav :: leftNav}"></div>
<h3>admin 페이지</h3>

<div th:text="${session.loginId }"></div>
<div th:text="${session.type }"></div>
<div th:insert="~{header}"></div>
<a href="/admin/user/userlist">사용자목록</a><br/>
<a href="/corp/deptlist">부서목록</a><br/>
<a href="/corp/joblvlist">직급목록</a><br/>
</body>
</html>