<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/common/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
  <link rel="stylesheet" th:href="@{/css/common/header.css}">
  <link rel="stylesheet" th:href="@{/css/common/modal.css}">
  <link rel="stylesheet" th:href="@{/css/charts/charts.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/de9b677ac7.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/charts.js}"></script>
  <script th:src="@{/js/memmodal.js}"></script>
  <script th:src="@{/js/docxMain.js}"></script>
  <script th:src="@{/js/weather.js}"></script>
</head>
<body>
<div th:replace="~{/common/header :: header}"></div>
<div th:replace="~{/common/leftnav :: leftNav}"></div>
<div class="main_body" style="padding-bottom: 80px">
  <section id="main_section">
    <div class="chart_body">
      <div class="chart_head" style="display:flex; justify-content:space-between; margin-bottom:30px; vertical-align: center">
      	<div style="display: flex; align-items: center">
	        <b th:text="${session.usernm}"></b>
	        <b> 님 반갑습니다.</b>
        </div>
      </div>
      <!--  테이블 출력 영역-->
      <div class="chart_area">
        <div class="chart_area_head">
          <div style="padding-top: 5px">
            <p class="board_title" style="margin-bottom: 20px">일정 관리</p>
          </div>
          <div class="chart_menu">
            <button type="button" onclick="location.href='/auth/chart/gantt'">간트차트</button>
            <button type="button" onclick="location.href='/auth/chart/calendar'">달력</button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#chartModal" onclick="taskidinit()">
              일정추가
            </button>
          </div>
        </div>
        <div class="chart_area_scroll">
          <table>
            <tr>
              <th>분류</th>
              <th style="width: 400px">이름</th>
              <th>시작일</th>
              <th>마감일</th>
              <th>완성률</th>
              <th>간트</th>
              <th>공유</th>
              <th>수정</th>
              <th>삭제</th>
            </tr>
            <tr th:each="s:${list}">
              <td th:text="${s.taskid}" style="display: none"></td>
              <td th:text="${s.chartResource}"></td>
              <td th:text="${s.title}" style="width: 400px"></td>
              <td th:text="${s.st}"></td>
              <td th:text="${s.ed}"></td>
              <td th:if="${s.taskid != 0}"><p th:text="${s.percent}"></p></td>
              <td th:if="${s.taskid != 0}">
                <input type="checkbox" th:checked="${s.chartStatus == 'yes'}" class="chart_edit_btn">
              </td>
              <td th:if="${s.taskid != 0}">
                <button type="button" data-bs-toggle="modal" data-bs-target="#memberModal" class="taskidshare">
                  <i class="fa-solid fa-share-nodes"></i>
                </button>
              </td>
              <td th:if="${s.taskid != 0}">
                <button type="button" data-bs-toggle="modal" data-bs-target="#chartModal" class="taskidset">
                  <i class="fa-regular fa-pen-to-square"></i>
                </button>
              </td>
              <td th:if="${s.taskid != 0}">
                <a th:href="@{/auth/chart/del(id=${s.taskid})}"><i class="fa-solid fa-eraser"></i></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="board_body">
        <div class="board_body_box">
          <div class="board_title" style="margin-bottom: 10px">서류 게시판</div>
          <div class="main_table_wrapper">
            <table class="table_w100 board_table">
              <thead class="table_bottom_style">
              <th style="width: 20%;">번호</th>
              <th style="width: 60%;">제목</th>
              <th style="width: 20%;">작성자</th>
              </thead>
              <tbody class="main_docx_list">
              <tr></tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="board_body_box">
          <div class="board_title" style="margin-bottom: 10px">날씨</div>
          <div>
            <b class="weather-table chart_head_weather" id="weather"></b>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="chart_modal_section">
    <div class="modal fade" id="chartModal" tabindex="-1" aria-labelledby="chartModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="chartModalLabel">일정 추가</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div style="height: 350px; justify-items: center">
              <form action="/auth/chart/add" method="post" name="chartsavef">
                <table style="height: 300px; margin-top: 10px; margin-left: auto; margin-right: auto">
                  <tr>
                    <td style="display: none"><input type="number" name="taskid" id="modal_taskid"></td>
                  </tr>
                  <tr>
                    <th style="width: 100px">Title</th>
                    <td><input type="text" name="title" placeholder="title" id="modal_title"></td>
                  </tr>
                  <tr>
                    <th>Resource</th>
                    <td><input type="text" name="chartResource" placeholder="긴급" id="modal_resource"></td>
                  </tr>
                  <tr>
                    <th>Start Day</th>
                    <td><input type="date" name="st" id="modal_st"></td>
                  </tr>
                  <tr>
                    <th>End Day</th>
                    <td><input type="date" name="ed" id="modal_ed"></td>
                  </tr>
                  <tr>
                    <th>Percent (%)</th>
                    <td><input type="text" name="percent" value="0" id="modal_percent"></td>
                  </tr>
                  <tr style="display: none">
                    <td><input type="text" name="users" th:value="${session.loginId}"></td>
                  </tr>
                </table>
                <div style="display: flex; justify-content: end; margin-right: 15px;">
                  <input type="submit" value="save">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="member_modal_section">
    <div class="modal fade" id="memberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered mem_modal">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">멤버 선택</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="list_line" method="post">
              <table class="m20 table_w100">
                <tr>
                  <td>
                    <select class="select_box" name="type">
                      <option value="1">부서이름</option>
                      <option value="2">직원이름</option>
                      <option value="3">직급</option>
                    </select>
                  </td>
                  <td class="list_search_wrapper">
                    <input class="list_input" type="text" name="val">
                    <button type="button" class="btn blue_btn list_search" onclick="list_search()">검색</button>
                  </td>
                </tr>
              </table>
            </form>
            <form class="modal_list" action="/auth/chart/share" method="post">
              <input style="display: none" id="share_taskid" name="taskid">
              <table class="table_w100 modal_table">
                <thead class="list_line ">
                <tr>
                  <td><input type="checkbox"></td>
                  <td class="w40 f600">Name</td>
                  <td class="f600">E-mail</td>
                </tr>
                </thead>
                <tbody class="modal_body">
                <!-- <tr class="list_line" th:if="${mlist != null }" th:each="m:${mlist }">
                  <td>
                    <input name="userid" type="checkbox" class="list_ch" th:value="${m?.userid?.usernm}">
                  </td>
                  <td class="form_td" >
                    <p class="f600 list_name" th:text="${m?.userid?.usernm }"></p>
                    <div class="list_pos">
                      <span class="list_dept" th:text="${m?.deptid?.deptid }"></span>
                      <span class="list_lv" th:text="${m?.joblvid?.joblvid +'대리 '}"></span>
                    </div>

                  </td>
                  <td class="form_td" th:text="${m?.email}"></td>
                </tr> -->
                </tbody>
              </table>
              <div class="modal-footer">
                <input type="submit" value="공유" class="btn blue_btn">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="modal_background"></div>
</body>
 <link rel="stylesheet" th:href="@{/css/chat/weather.css}">
</html>