<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>유저목록</h3>
<table border="1">
<tr><th>선택</th><th>id</th><th>이름</th><th>타입</th></tr>
<tr th:each="b:${list}">
    <td><input type="checkbox" class="user-checkbox" th:value="${b.id}"></td>
    <td th:text="${b.id}"></td>
    <td th:text="${b.usernm}"></td>
    <td th:text="${b.type}"></td>
</tr>
</table>
<button onclick="createChatRoom()">채팅방 생성</button>

<script th:inline="javascript">
function createChatRoom() {
    let selectedUserIds = [];
    document.querySelectorAll('.user-checkbox:checked').forEach((checkbox) => {
        selectedUserIds.push(checkbox.value);
    });
    
    if (selectedUserIds.length === 0) {
        alert("유저를 선택해 주세요.");
        return;
    }
    
    const loginId = [[${session.loginId}]];
    selectedUserIds.push(loginId);
    const url = `/chat/chatroom?userIds=${selectedUserIds.join(',')}`;
    window.location.href = url;
}
</script>
</body>
</html>
