<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/common/reset.css}">
	<link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
	<link rel="stylesheet" th:href="@{/css/common/header.css}">
	<link rel="stylesheet" th:href="@{/css/common/modal.css}">
	<link rel="stylesheet" th:href="@{/css/user/member.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/de9b677ac7.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		window.onload = () => {
			console.log('[[${member?.memberid }]]');
			if ('[[${member?.memberid }]]' != '[[null]]') {
				let memberaddvar = document.getElementById('memberaddid');
				memberaddvar.innerHTML = '내정보수정하기';
				document.getElementById('memberidid2').style.display = '';
				document.getElementById('hiredtid').style.display = '';
			}
		}

		const updateMgrid = () => {
			var deptInput = document.getElementById('deptid');
			var selectedDept = deptInput.value;
			var datalist = document.getElementById('deptslist');
			var selectedOption = datalist.querySelector('option[value="' + selectedDept + '"]');

			if (selectedOption) {
				document.getElementById('mgrid').value = selectedOption.dataset.mgrid;
			} else {
				document.getElementById('mgrid').value = '';
			}
		}

		const memberimgread = (memberimgnm) => {
			if (memberimgnm.files && memberimgnm.files[0]) {
				var memberimgreader = new FileReader();
				memberimgreader.onload = function (e) {
					document.getElementById('memberimgpreview').src = e.target.result;
				};
				memberimgreader.readAsDataURL(memberimgnm.files[0]);
			} else {
				document.getElementById('memberimgpreview').src = "";
			}
		}

		const resetbtn = () => {
			document.getElementById('birthdtid').value = '[[${member?.birthdt }]]';
			document.getElementById('emailid').value = '[[${member?.email }]]';
			document.getElementById('cpnumid').value = '[[${member?.cpnum }]]';
			document.getElementById('addressid').value = '[[${member?.address }]]';
			document.getElementById('memberimgfid').value = '[[${member?.memberimgnm }]]';
			document.getElementById('deptidid').value = '[[${member?.deptid?.deptid }]]';
			document.getElementById('mgridid').value = '[[${member?.mgrid }]]';
			document.getElementById('joblvid').value = '[[${member?.joblvid?.joblvid }]]';
		}

		const home = (type) => {
			if (type == 'admin') {
				location.href = '/index_admin';
			} else if (type == 'emp') {
				location.href = '/index_emp';
			} else {
				location.href = '/';
			}
		}

		const deptselect = () => {
			var selectElement = document.getElementById('deptslist');
			var selectedOption = selectElement.options[selectElement.selectedIndex];
			var dataDeptValue = selectedOption.getAttribute('data-dept');

			document.querySelector("#mgr").innerText = dataDeptValue;
		}
	</script>
</head>

<body>
	<div th:replace="~{/common/header :: header}"></div>
	<div th:replace="~{/common/leftnav :: leftNav}"></div>
	<div class="main_body">
		<div class="memberinfo_table w_bg">
			<div class="memberinfo_table_title">
				<p>내 정보 수정 페이지</p>
			</div>
			<div class="memberinfo_table_wrapper">
				<form th:action="@{/member/memberadd }" method="post" name="memberf" enctype="multipart/form-data">
					<h3>기본정보</h3>
					<table class="info-table">
						<tr>
							<td rowspan="3">
								<img id="memberimgpreview"
									th:src="@{/member/memberimg(memberimgnm=${member?.memberimgnm})}"
									alt="Profile Image" style="width:103px;height:132px"><br />
								<input type="file" name="memberimgf" id="memberimgfid"
									th:value="${member?.memberimgnm }" th:onchange="memberimgread(this);">
							</td>
							<th>이름</th>
							<td th:text="${member?.userid?.usernm}"></td>
							<th>사원번호</th>
							<td th:if="${member?.memberid != null }" id="memberidid2" style="display:none"
								th:text="${member?.memberid}"></td>
						</tr>

						<tr>
							<th>입사일</th>
							<td th:text="${member?.hiredt}" id="hiredtid" style="display:none"></td>
							<th th:if="${member?.userid?.aprov == 3 and member?.leavedt != null}" id="leavedtid">퇴사일
							</th>
							<td th:if="${member?.userid?.aprov == 3 and member?.leavedt != null}" id="leavedtid"
								th:text="${member?.leavedt }"></td>
							</tr>
							<!-- <tr id="hiredtid" style="display:none">
								<th>입사일</th>
								<td th:text="${member?.hiredt }"></td>
							</tr>
							<tr th:if="${member?.userid?.aprov == 3 }" id="leavedtid">
								<th>퇴사일</th>
								<td th:text="${member?.leavedt }"></td>
							</tr> -->
						<tr>
							<th>부서</th>
							<td>
								<select id="deptslist" name="deptid" onchange="deptselect()">
									<option th:each="d : ${dlist}" th:text="${d.deptnm}" th:value="${d.deptid }"
										th:selected="${member?.deptid?.deptnm}==${d.deptnm}"
										th:data-dept="${d.mgrid.userid.usernm}"></option>
								</select>
							</td>
							<input type="hidden" id="mgr">
							<!-- <tr>
								<th>부서장</th>
								<td>
									<span id="mgr"></span>
								</td>
							</tr> -->
							<th>직급</th>
							<td>
								<select id="joblvslist" name="joblvid">
									<option th:each="j : ${jlist}" th:text="${j.joblvnm}" th:value="${j.joblvidx}"
										th:selected="${member?.joblvid?.joblvnm}==${j.joblvnm}"></option>
								</select>
							</td>
						</tr>
					</table>

					<h3>신상정보</h3>
					<table class="info-table">
						<tr>
							<th>생년월일</th>
							<td><input type="date" name="birthdt" id="birthdtid" th:value="${member?.birthdt }"></td>
							<th>주소</th>
							<td colspan="2"><input type="text" name="address" id="addressid" th:value="${member?.address }"></td>
						</tr>
						<tr>
							<th>개인전화번호</th>
							<td><input type="text" name="cpnum" id="cpnumid" th:value="${member?.cpnum }"></td>
							<th>이메일</th>
							<td colspan="2"><input type="text" name="email" id="emailid" th:value="${member?.email }"></td>
						</tr>
					</table>

					<h3>학력 경력</h3>
					<!-- <input type="hidden" name="memberid" id="memberidid"> -->
					<table class="info-table">
						<tr>
							<th>학교명</th>
							<th>전공</th>
							<th>입학일</th>
							<th>졸업일</th>
							<th>학적상태</th>
						</tr>
						<tr th:if="${edulist != null }" th:each="e:${edulist }">
							<td th:text="${e?.ewenm1 }"></td>
							<td th:text="${e?.ewenm2 }"></td>
							<td th:text="${e?.startdt }"></td>
							<td th:text="${e?.enddt }"></td>
							<td th:text="${e?.state }"></td>
						</tr>
					</table>
	
					<h3>근무 경력</h3>
					<table class="info-table">
						<tr>
							<th>근무회사</th>
							<th>근무부서</th>
							<th>입사일</th>
							<th>퇴사일</th>
							<th>퇴사사유</th>
						</tr>
						<tr th:if="${expwoklist != null }" th:each="e:${expwoklist }">
	
							<td><input type="text" name="ewenm1" id="ewenm1id" th:value="${e?.ewenm1 }"></td>
	
							<td><input type="text" name="ewenm2" id="ewenm2id" th:value="${e?.ewenm2 }"></td>
							<td><input type="date" name="startdt" id="startdtid" th:value="${e?.startdt }"></td>
							<td><input type="date" name="enddt" id="enddtid" th:value="${e?.enddt }"></td>
							<td th:text="${e?.state }"></td>
	
							<td><input type="number" name="state" id="stateid"></td>
								<td><input type="number" name="type" id="typeid"></td>
								<td><input type="date" name="startdt" id="startdtid"></td>
								<td><input type="date" name="enddt" id="enddtid"></td>
								<td><input type="text" name="ewenm1" id="ewenm1id"></td>
								<td><input type="text" name="ewenm2" id="ewenm2id"></td>
						</tr>
					</table>
					<div class="memberinfo_admin_menu" th:if="${session.loginId == userid } or ${session.type == 'admin' }">
						<div th:if="${member?.memberid != null }">
							<input type="hidden" id="memberidid1" name="memberid" th:value="${member?.memberid }"><br />
							<input type="hidden" name="memberimgnm" th:value="${member?.memberimgnm }"><br />
						</div>
						<input type="hidden" name="userid" th:value="${userid }"><br />
						<button type="submit" class="btn blue_btn" id="memberaddid">내정보등록하기</button>
						<button type="button" class="btn blue_btn" onclick="history.back()">되돌아가기</button>
						<button type="button" class="btn blue_btn" th:onclick="resetbtn()">취소</button>
					</div>
				</form>


<!-- 
				<form th:action="@{/member/eweiadd }" method="post">
					<table border="1">
						<tr>
							<th>MEMBERID</th>
							<th>STATE</th>
							<th>TYPE</th>
							<th>ENDDT</th>
							<th>STARTDT</th>
							<th>EWENM1</th>
							<th>EWENM2</th>
						</tr>
						<tr>
							<td><input type="number" name="memberid" id="memberidid" th:value="${member?.memberid }">
							</td>
							<td><input type="number" name="state" id="stateid"></td>
							<td><input type="number" name="type" id="typeid"></td>
							<td><input type="date" name="startdt" id="startdtid"></td>
							<td><input type="date" name="enddt" id="enddtid"></td>
							<td><input type="text" name="ewenm1" id="ewenm1id"></td>
							<td><input type="text" name="ewenm2" id="ewenm2id"></td>
						</tr>
					</table>
					<input type="submit" value="내학력경력정보 등록하기"><br />
				</form>
				<input type="reset" value="취소하기" th:onclick="resetbtn()"><br /> -->
			</div>
		</div>
	</div>
</body>

</html>