.list_ch{
    border-radius: .25em;
}
.list_input{
    border: 1px solid #cbd0dd;
    width: 80%;
}
.select_box{
    width: 100%;
    border: 1px solid #cbd0dd;
}
.mem_modal{
    width: 600px;
}
.m20{
    margin-bottom: 20px;
}
.f600{
    font-weight: 600;
}
.list_line{
    border-bottom: 1px solid #dee2e6;
}
.table_w100{
    width: 100%;
}
.w40{
    width: 40%;
}
.modal td{
    padding: 10px 0;
    padding-right: 15px;
}
.list_name{
    color: #3874ff;
}
.list_pos{
    padding: 10px 0;
    display: flex;
    font-size: 14px;
    color: #6c757d;
}
.list_dept{
    padding-right: 10px;
}
.list_search_wrapper{
    display: flex;
    justify-content: end;
}
.list_search{
    line-height: 0;
}
.modal_list {
    position: relative;
    height: 500px;
}
.modal-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
.modal_table_wrapper{
    height: 430px;
    overflow: auto;
    overflow-y: scroll;
}