/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
  color: black;
}

/* 프로젝트용 기본 디자인css */

body{
    background-color: #F5F7FA;
}
.w_bg{
    background-color: #fff;
}
.main_body{
	margin-left:250px;
	padding:0 40px;
	padding-top:80px;
}

.font_b24{
	font-size: 24px;
	font-weight: bold;
}

.m_b2{
	margin-bottom: 2px;
}
.cursor{
	cursor: pointer;
}

/* 버튼용 디자인들 */
.btn_square{
	border-radius: 10px;
	border: 0;
	padding: 21px 37px;
}
.blue_btn{
	background-color: #2B6BFF;
	color: #fff;
}
.gray_btn{
	background-color: #A3A8B6;
	color: #fff;
}
.border_btn{
	border: 2px solid #2B6BFF;
	color: #2B6BFF;
}
.btn_border{
	border: 0;
}
.round{
	border-radius: 50px;
}
.form_input_wrapper{
	margin-bottom: 20px;
}
.form_td{
	padding-bottom: 10px;
	padding-right: 10px;
}

/* logo */
.loginBoxTitle {
    text-align: center;
    color:#000000;
    font-weight: bold;
    font-size: 32px;

    padding: 5px;
    margin-bottom: 60px;
    background: linear-gradient(to right, #a3a3de, #5030a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}