.userlist_top{
    width: 100%;
    height: 360px;
    border-bottom: 2px solid #E2E4EC;
}
.userlist_top_wrapper{
    padding-top: 100px;
}
.userlist_msg{
    margin-left: 55px;
}
.userlist_sta{
    position: relative;
    top: 30px;
    width: 240px;
    height: 72px;
}
.userlist_btn_wrapper{
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
.userlist_marright{
    margin-right: 20px;
}
.userlist_table{
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    padding-bottom: 30px;
}
.userlist_table_title{
    display: flex;
    align-items: center;
    padding: 40px 0;
    width: 80%;
    margin: 0 auto;
}
.userlist_table_title>p{
    font-size: 20px;
    width: 43%;
}
/* 테이블 */
.userlist_table_wrapper{
    width: 80%;
    border-top: 2px solid #E2E4EC;
    margin: 0 auto;
}
.userlist_rtable{
    width: 100%;
    table-layout: fixed;
    text-align: center;
}
.userlist_rtable>thead{
    line-height: 3rem;
    border-bottom: 2px solid #E2E4EC;
}
.userlist_list>tr{
    line-height: 3rem;
    border-bottom: 2px solid #E2E4EC;
}
.userlist_line{
    border-bottom: 1px solid #dee2e6;
}
.userlist_search_wrapper{
    display: flex;
    justify-content: end;
}
.m20{
    margin-bottom: 20px;
}
.table_w100{
    width: 100%;
}.userlist_input{
    border: 1px solid #cbd0dd;
    width: 40%;
}
.select_box{
    width: 50%;
    border: 1px solid #cbd0dd;
}