<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/common/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
  <link rel="stylesheet" th:href="@{/css/common/header.css}">
  <link rel="stylesheet" th:href="@{/css/charts/charts.css}">
  <script src="https://kit.fontawesome.com/de9b677ac7.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{/common/header :: header}"></div>
<div th:replace="~{/common/leftnav :: leftNav}"></div>
<div class="main_body">
  <section id="mail_body">
    <div class="chart_body">
      <div style="background-color: white; height: 80vh; padding: 25px">
        <div style="display: flex; justify-content: space-between; height: 30px; align-items: center">
          <div>
            <div><a th:href="@{/mail/list}"><i class="fa-solid fa-angle-left"></i> 받은 메일함</a></div>
          </div>
        </div>
        <hr>
        <form action="/mail/sendmail" method="post">
          <div style="display: flex; flex-direction: column; height: 110px; justify-content: space-between">
            <div style="font-size: 30px; display: flex; justify-content: space-between">
              <div>
                <input type="text" name="title" th:value="${title}" placeholder="제목">
              </div>
              <div>
                <input type="submit" value="발송">
              </div>
            </div>
            <div>
              <b>보낸사람</b>&nbsp;
              <input type="text" name="From" th:value="${session.loginId}" readonly>
            </div>
            <div>
              <b>받는사람</b>&nbsp;
              <input type="text" name="receiver" th:value="${From}" placeholder="받는사람">
            </div>
            <div>
              <b>참조</b>&nbsp;
              <input type="text" name="ref" placeholder="참조">
            </div>
          </div>
          <hr>
          <div>
            <textarea name="content" th:text="${Content}" style="width: 500px; height: 400px"></textarea>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
<script th:src="@{/js/mailserver.js}"></script>
</body>
</html>