<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.13/index.global.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script type="text/javascript">
      const modal = document.querySelector('.modal');
      const btnOpenModal = document.querySelector('.btn-open-modal');

      btnOpenModal.addEventListener("click", ()=>{
          modal.style.display = "flex";
      });
  </script>
  <link rel="stylesheet" th:href="@{/css/common/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
  <link rel="stylesheet" th:href="@{/css/common/header.css}">
  <link rel="stylesheet" th:href="@{/css/charts/charts.css}">
</head>
<body>
<div th:replace="~{/common/header :: header}"></div>
<div th:replace="~{/common/leftnav :: leftNav}"></div>
<div class="main_body">
  <section id="calendar_area">
    <div class="chart_body">
      <div class="calendar_style">
        <div id='calendar'></div>
      </div>
    </div>
  </section>
</div>
</body>
<script th:src="@{/js/charts_calendar.js}"></script>
</html>