<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/common/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
  <link rel="stylesheet" th:href="@{/css/common/header.css}">
  <link rel="stylesheet" th:href="@{/css/charts/charts.css}">
</head>
<body>
<div style="display: none">
  <input type="text" th:value="${session.loginId}" id="usersid">
</div>
<div th:replace="~{/common/header :: header}"></div>
<div th:replace="~{/common/leftnav :: leftNav}"></div>

<div class="main_body">
  <section id="calendar_area">
    <div class="chart_body">
      <div class="chart_head">
        <b th:text="${session.loginId}"></b>
        <b> 님 반갑습니다.</b>
        <hr>
      </div>
      <div class="chart_area_gantt">
        <div id="chart_div"></div>
      </div>
    </div>
  </section>
</div>
<script th:src="@{/js/charts_gantt.js}"></script>
</body>
</html>