<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>채팅방</title>
</head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/css/chat/chatdesign.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/sockjs/1.0.1/sockjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/chat/chatreset.css}">
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/common/modal.css}">
    <link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script th:inline="javascript">
    var stompClient = null;
    var roomId = null;
    var userId1 = [[${userId1}]];
    var partId = [[${partId}]];
    var inviteMessage = [[${inviteMessage}]];
    </script>
<body>
<div th:replace="~{/common/header :: header}"></div>
<div th:replace="~{/common/leftnav :: leftNav}"></div>

  <div class="main_body">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="chat-area">
                        <div class="chatlist">
                            <div class="modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="chat-header">
                                        <div class="msg-search"> 
                                            <input type="text" class="form-control" id="findGroupMember" placeholder="참여자이름으로 검색" aria-label="search" onkeypress="if(event.keyCode == 13){loadChatRoomsBySearch(this)}">                                       
           									       	 <a class="add" href="#">
              									 	  <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/add.svg" alt="add" data-bs-toggle="modal" data-bs-target="#exampleModal">
          										 	 </a>        								   		        		 
                                        </div>
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="Open-tab" data-bs-toggle="tab" data-bs-target="#Open" type="button" role="tab" aria-controls="Open" aria-selected="true">1:1</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="Closed-tab" data-bs-toggle="tab" data-bs-target="#Closed" type="button" role="tab" aria-controls="Closed" aria-selected="false">단체방</button>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="modal-body">
                                        <div class="chat-lists">
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade show active" id="Open" role="tabpanel" aria-labelledby="Open-tab">
                                                    <div class="chat-list" id="openstyle">
                                                        <a href="#" class="d-flex align-items-center">
                                                            <div class="flex-shrink-0">
                                                            </div>
                                                            <div class="flex-grow-1 ms-3">                                                          
                                                                <h3></h3>
                                                                <p></p>
                                                            </div>
                                                        </a>
                                                    </div>       
                                                </div>
                                                <div class="tab-pane fade" id="Closed" role="tabpanel" aria-labelledby="Closed-tab">
                                                    <div class="chat-list" id="closestyle">
                                                        <a href="#" class="d-flex align-items-center">
                                                            <div class="flex-shrink-0">
                                                            </div>
                                                            <div class="flex-grow-1 ms-3">  
                                                                <h3></h3>
                                                                <p></p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="chatbox">
                            <div class="modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="msg-head">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="d-flex align-items-center" id="centerstyle">
                                                    <span class="chat-icon"><img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/arroleftt.svg" alt="image title"></span>
                                                    <div class="flex-grow-1 ms-3">                                                  
                                                        <h3></h3>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <ul class="moreoption">
                                                    <li class="navbar nav-item dropdown">
                                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="#"  data-bs-toggle="modal" data-bs-target="#exampleModal2">초대</a></li>
                                                            <li>
                                                                <hr class="dropdown-divider">
                                                            </li>
                                                            <li>
                                                            <a class="dropdown-item" href="#" id="outButton" onclick="checkGetOutRoom(roomId)">채팅방 나가기</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-body chat-content"> 
                                        <div class="msg-body">
                                            <ul id="chat-content">
                                              <li>
                                                <div class="chat_img_wrapper">
                                                  <img class="chatRoomImg" src="/img/chat/chatRoomImg.png" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                </div>
                                              
                                              </li>
                                            
                                              </ul>
                                        </div>
                                    </div>

                                    <div class="send-box">
                                        <form action="">
                                            <textarea id="message" class="form-control" aria-label="message…" placeholder="Write message…" maxlength="1000"></textarea>
											<input type="hidden" id="sender" th:value="${userId1}">
											<input type="hidden" id="partid" th:value="${partId}">
                                            <button type="button" id="sendButton"><i class="fa fa-paper-plane" aria-hidden="true"></i>전송</button>
                                        </form>

                                        <div class="send-btns">
                                            <div class="attach">
                                                <div class="button-wrapper">
                                                    <span class="label">
                                                        <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/upload.svg" alt="image title"> attached file 
                                                    </span>
                                                    <input type="file" name="upload" id="upload" class="upload-box" placeholder="Upload File" aria-label="Upload File">
                                                </div>
                                                  <button type="button" id="sendButton" onclick="sendFileMessage(roomId)">업로드</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
  <!-- Modal Add-->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered mem_modal">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">멤버 선택</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form class="list_line" method="post">
	          <table class="m20 table_w100">
	            <tr>
	              <td>
	                <select class="select_box" name="type">
	                  <option value="1">부서이름</option>
	                  <option value="2">직원이름</option>
	                  <option value="3">직급</option>
	                </select>
	              </td>
	              <td class="list_search_wrapper">
	                <input class="list_input" type="text" name="val">
					<button type="button" class="btn blue_btn list_search_chat" onclick="list_search_chat('0')">검색</button>
	              </td>
	            </tr>
	          </table>
	        </form>
	        <form class="modal_list" action="/chat/chatroom">
	          <div class="modal_table_wrapper">
	          <table class="table_w100 modal_table">
	            <thead class="list_line ">
	            <tr>
	              <td><input type="checkbox"></td>
	              <td class="w40 f600">Name</td>
	              <td class="f600">E-mail</td>
	            </tr>
	            </thead>
	            <tbody class="modal_body">
	            </tbody>
	          </table>
	        </div>
	          <div class="modal-footer">
	            <input type="submit" value="선택" class="btn blue_btn">
	            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	          </div>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>
      <!-- Modal Invite-->
	<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered mem_modal">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModal2Label">멤버 선택</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form class="list_line" method="post">
	          <table class="m20 table_w100">
	            <tr>
	              <td>
	                <select class="select_box" name="type">
	                  <option value="1">부서이름</option>
	                  <option value="2">직원이름</option>
	                  <option value="3">직급</option>
	                </select>
	              </td>
	              <td class="list_search_wrapper">
	                <input class="list_input" type="text" name="val">
	                <button type="button" class="btn blue_btn list_search_chat" onclick="list_search_chat('1', roomId)">검색</button>
	              </td>
	            </tr>
	          </table>
	        </form>
	        <form class="modal_list">
	         <input type="hidden" id="roomIdInput" name="chatroomid">
	          <div class="modal_table_wrapper">
	          <table class="table_w100 modal_table">
	            <thead class="list_line ">
	            <tr>
	              <td><input type="checkbox"></td>
	              <td class="w40 f600">Name</td>
	              <td class="f600">E-mail</td>
	            </tr>
	            </thead>
	            <tbody class="modal_body">
	            </tbody>
	          </table>
	        </div>
	          <div class="modal-footer">
	            <input type="button" value="선택" class="btn blue_btn" onclick="inviteMembers()">
	            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	          </div>
	        </form>
	      </div>
	    </div>
	  </div>
	</div>
</body>
<script th:src="@{/js/chat.js}"></script>
<script th:src="@{/js/chat_modal.js}"></script>
</html>