<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" th:href="@{/css/common/reset.css}">
	<link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
	<link rel="stylesheet" th:href="@{/css/common/header.css}">
	<link rel="stylesheet" th:href="@{/css/corp/dept.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script type="text/javascript">
		const home = (type) => {
			if (type == 'admin') {
				location.href = '/index_admin';
			} else if (type == 'emp') {
				location.href = '/index_emp';
			} else {
				location.href = '/';
			}
		}
	</script>
</head>

<body>
	<div th:replace="~{/common/header :: header}"></div>
	<div th:replace="~{/common/leftnav :: leftNav}"></div>
	<div class="main_body">
		<div class="deptsearch-body">
			<form class="deptlist_line" th:action="@{/corp/getdeptby}" method="post">
				<table class="m20 table_w100">
					<tr>
						<td>
							<select class="select_box" name="type">
								<option th:value="1" th:selected="${type == 1 }">부서이름</option>
								<option th:value="2" th:selected="${type == 2 }">부서장</option>
							</select>
						</td>
						<td class="deptlist_search_wrapper">
							<input class="deptlist_input" type="text" name="val" th:value="${param.val }">&nbsp;
							<input type="submit" class="btn blue_btn list_search" value="검색">
						</td>
					</tr>
				</table>
			</form>
		</div>

		<div class="deptlist_table w_bg">
			<div class="deptlist_table_title">
				<p>부서 목록</p>
			</div>
			<div class="deptlist_table_wrapper">
				<table class="deptlist_rtable">
					<thead>
						<td>부서번호</td>
						<td>부서이름</td>
						<td>부서장</td>
					</thead>
					<tbody class="deptlist_list">
						<tr th:each="dl:${dlist }">
							<td th:text="${dl.deptid }"></td>
							<!-- <a href="corp/deptinfo.html" th:href="@{/corp/deptinfo(deptid=${dl.deptid})}"
								th:text="${dl.deptnm}">deptnm</a> -->
							<td>
								<a href="#" class="dept-detail-link" th:data-deptid="${dl.deptid}"
									data-bs-toggle="modal" data-bs-target="#deptsModal"
									th:text="${dl.deptnm}">deptnm</a>
							</td>
							<td th:text="${dl.mgrid?.userid?.usernm }"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="deptlist_admin_menu">
			<button class="btn_square border_btn font_b24 cursor" data-bs-toggle="modal"
				data-bs-target="#deptsModal">부서추가</button>
			<button type="button" class="btn blue_btn" th:onclick="location.href='/admin/corp/depttestadd'">dept더미 데이터
				생성</button>
		</div>

		<!-- Deptadd Modal -->
		<!-- Modal -->
		<div class="modal fade" id="deptsModal" tabindex="-1" aria-labelledby="deptsModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deptsModalLabel">부서추가</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="deptform" style="display: none;">
							<table>
								<tr>
									<td class="form_td">부서이름</td>
									<td class="form_td">
										<input type="text" name="deptnm" id="depnmid">
									</td>
								</tr>
								<tr>
									<td class="form_td">부서장</td>
									<td class="form_td">
										<input type="text" name="mgrid" id="mgridid">
									</td>
								</tr>
							</table>
							<div class="modal-footer">
								<button type="button" class="btn blue_btn" onclick="deptaddbtn()">부서추가</button>
								<button type="button" class="btn btn-secondary" id="deptsModalClose" data-bs-dismiss="modal">Close</button>
							</div>
						</form>
						<form id="depteditform" style="display: none;">
							<table>
								<tr>
									<td class="form_td">부서번호</td>
									<td class="form_td"><span id="deptidSpan" style="display:'';"></span><input
											type="text" id="deptidInput" name="deptid" style="display:none;" readonly>
									</td>
								</tr>
								<tr>
									<td class="form_td">부서이름</td>
									<td class="form_td"><span id="deptnmSpan" style="display:'';"></span><input
											type="text" id="deptnmInput" name="deptnm" style="display:none;"></td>
								</tr>
								<tr>
									<td class="form_td">부서장</td>
									<td class="form_td">
										<span id="mgridSpan" style="display:'';"></span>
										<!-- <input type="text" id="mgridInput" name="mgrid" style="display:none;"> -->

										<select id="memberlist" name="mgrid" style="display: none;">
											<!-- <option th:each="m : ${obj.mlist}" th:text="${m.userid?.usernm}"
												th:value="${m.memberid}"
												th:selected="${obj.d.mgrid?.userid?.usernm} == ${m.userid?.usernm}">
											</option> -->
										</select>
									</td>
								</tr>
							</table>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" id="depteditbtnid"
									onclick="depteditbtn()" style="display:'';">부서수정</button>
								<button type="button" class="btn btn-secondary" id="depteditid" onclick="deptedit()"
									style="display:none;">부서수정</button>
								<button type="button" class="btn btn-secondary" id="deptdelid">부서삭제</button>
								<button type="button" class="btn btn-secondary" id="deptdetailcalid"
									data-bs-dismiss="modal">Close</button>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/corp/corp.js}"></script>

</html>