<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
const searchmgrid = () => {
	
}

const home = (type) => {
	if (type == 'admin') {
		location.href='/index_admin';
	} else if (type == 'emp') {
		location.href='/index_emp';
	} else {
		location.href='/';
	}
}
</script>
</head>
<body>
<h3>직급 등록 페이지</h3>
<form action="/admin/corp/joblvadd" method="post">
<table border="1">
<tr>
<th>직급인덱스</th><td><input type="text" name="joblvid"></td>
</tr>
<tr>
<th>직급이름</th><td><input type="text" name="joblvnm"></td>
</tr>
</table>
<input type="submit" value="직급추가"><br/>
</form>
<input type="button" value="뒤로가기버튼" onclick="history.back()"><br/>
<input type="button" value="홈버튼" th:onclick="home([[${session.type }]])"><br/>
</body>
</html>