<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
const home = (type) => {
	if (type == 'admin') {
		location.href='/index_admin';
	} else if (type == 'emp') {
		location.href='/index_emp';
	} else {
		location.href='/';
	}
}
</script>
</head>
<body>
<h3>직급 정보 상세 페이지</h3>
<form action="/admin/corp/joblvedit" method="post">
<table border="1">
<tr>
<th>직급인덱스</th><td><input type="text" name="joblvidx" th:value="${j.joblvidx }" readonly></td>
</tr>
<tr>
<th>직급ID</th><td><input type="text" name="joblvid" th:value="${j.joblvid }" ></td>
</tr>
<tr>
<th>직급이름</th><td><input type="text" name="joblvnm" th:value="${j.joblvnm }" ></td>
</tr>
</tr>
</table>
<div th:if="${session.type == 'admin' }">
<input type="submit" value="수정"><br/>
</div>
</form>
<input type="button" value="뒤로가기버튼" onclick="history.back()"><br/>
<input type="button" value="직급목록페이지이동버튼" onclick="location.href='/corp/joblvlist'"><br/>
<input type="button" value="홈버튼" th:onclick="home([[${session.type }]])"><br/>
</body>
</html>

<table border="1">
	<tr>
	<th>직급인덱스</th><td th:text="${j.joblvidx }"></td>
	</tr>
	<tr>
	<th>직급ID</th><td th:text="${j.joblvid }"></td>
	</tr>
	<tr>
	<th>직급이름</th><td th:text="${j.joblvnm }"></td>
	</tr>
	</tr>
</table>