<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/common/reset.css}">
	<link rel="stylesheet" th:href="@{/css/common/leftnav.css}">
	<link rel="stylesheet" th:href="@{/css/common/header.css}">
	<link rel="stylesheet" th:href="@{/css/common/modal.css}">
	<link rel="stylesheet" th:href="@{/css/user/member.css}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/de9b677ac7.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		window.onload = () => {
			if ('[[${session.type }]]' == '[[admin]]') {
				document.getElementById('idid').readOnly = false;
				document.getElementById('usernmid').readOnly = false;
				document.getElementById('typeid').readOnly = false;
			}

		}

		const aprovbtn = (userid, aprov) => {
			const req = new XMLHttpRequest();
			let txt1 = '';
			let txt2 = '';
			req.onload = () => {
				let obj = JSON.parse(req.responseText);
				if (obj.aprov == 1) {
					txt1 = '재직상태';
					txt2 = '휴직처리';
				} else if (obj.aprov == 2) {
					txt1 = '휴직상태';
					txt2 = '승인처리';
				} else if (obj.aprov == 3) {
					txt1 = '퇴직상태';
					txt2 = '승인처리';
				}
				document.getElementById('aprovid').innerHTML = txt1;
				document.getElementById('aprovbtnid1').value = txt2;
			}
			alert(userid + '의 승인 상태가 변경되었습니다.');
			req.open('get', '/admin/user/useraprov?id=' + userid + '&aprov=' + aprov);
			req.send();
		}

		const levaprovbtn = (userid) => {
			location.href = '/admin/user/useraprov?id=' + userid + '&aprov=2';
		}

		const caclaprovbtn = (userid) => {
			location.href = '/admin/user/useraprov?id=' + userid + '&aprov=3';
		}


		const home = (type) => {
			if (type == 'admin') {
				location.href = '/index_admin';
			} else if (type == 'emp') {
				location.href = '/index_emp';
			} else {
				location.href = '/';
			}
		}

		const resetbtn = () => {
			document.getElementById('idid').value = '[[${user.id }]]';
			document.getElementById('usernmid').value = '[[${user.usernm }]]';
			document.getElementById('typeid').value = '[[${user.type }]]';
		}

	</script>
</head>

<body>
	<div th:replace="~{/common/header :: header}"></div>
	<div th:replace="~{/common/leftnav :: leftNav}"></div>
	<div class="main_body">
		<div class="memberinfo_table w_bg">
			<div class="memberinfo_table_title">
				<p>내 로그인 정보 수정 페이지</p>
			</div>
			<div class="memberinfo_table_wrapper">
				<form th:action="@{/user/useredit }" method="post" name='useref'>
					<table class="info-table">
						<tr>
							<th>사용자 계정</th>
							<td><input type="text" name="id" id="idid" th:value="${user.id }"></td>
						</tr>
						<tr>
							<th>사용자 이름</th>
							<td><input type="text" name="usernm" id="usernmid" th:value="${user.usernm }"></td>
						</tr>
						<tr>
							<th>사용자 비밀번호</th>
							<td th:value="${user.oldpwd }"></td>
						</tr>
						<tr>
							<th>사용자 유형</th>
							<td><input type="text" name="type" id="typeid" th:value="${user.type }"></td>
						</tr>
						<tr>
							<th>사용자 승인 상태</th>
							<td th:text="${aprovStr }" name="aprovStr" id="aprovid"></td>
							<td th:if="${session.type == 'admin' }">
								<input type="button" id="aprovbtnid1"
									th:if="${user.aprov } == 0 or ${user.aprov } == 2 or ${user.aprov } == 3"
									value="승인처리" th:onclick="aprovbtn([[${user.id}]], '1')">
								<input type="button" th:if="${user.aprov } == 1" value="휴직처리"
									th:onclick="aprovbtn([[${user.id}]], '2')">
								<input type="button" value="퇴사처리" th:onclick="aprovbtn([[${user.id}]], '3')">
							</td>
						</tr>
					</table>
					<div class="memberinfo_admin_menu"
						th:if="${session.loginId == user.id } or ${session.type == 'admin' }">
						<button type="submit" class="btn blue_btn" id="usereditid">내로그인정보수정버튼</button>
						<button type="button" class="btn blue_btn" onclick="history.back()">되돌아가기</button>
						<button type="button" class="btn blue_btn" th:onclick="resetbtn()">취소</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>