<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/common/reset.css}">
<link rel="stylesheet" th:href="@{/css/userform.css}">
 <script src="https://kit.fontawesome.com/de9b677ac7.js" crossorigin="anonymous"></script>
 <script th:src="@{/js/login.js}"></script>
	<script type="text/javascript">
		const checklogin = () => {
			if (userloginf.id.value.length <= 0) {
				alert("ID는 필수 입력 사항");
				userjoinf.id.focus();
				return;
			}
			if (userloginf.pwd.value.length <= 0) {
				alert("PWD는 필수 입력 사항");
				userjoinf.pwd.focus();
				return;
			}
			userloginf.submit();
		}
		const home = (type) => {
			if (type == 'admin') {
				location.href = '/index_admin';
			} else if (type == 'emp') {
				location.href = '/index_emp';
			} else {
				location.href = '/';
			}
		}
	</script>
</head>

<body>
	<div class="form_wrapper">
	<div id="posts_list">
		<div class="container login_wrapper">
			<div class="loginBoxTitle">HRD SYSTEM LOGIN</div>
			<form action="/login" method="post" name="userloginf">
				<span th:if="${errorMessage}">
					<p id="valid" class="alert alert-danger" th:text="${errorMessage}"></p>
				</span>
				<div class="form-group">
					<label>ID</label>
					<input type="text" class="form-control" id="id" name="id" placeholder="아이디를 입력해주세요">
				</div>
				<div class="form-group">
					<label>비밀번호</label>
					<input type="password" class="form-control" name="pwd" placeholder="비밀번호를 입력해주세요">
				</div>
				<div class="form-group">
					<div class="login_check w40">
						<span>아이디 기억하기</span>
						<input class="login_checkbox" type="checkbox">
					</div>
					<button class="form-control btn btn-primary bi bi-lock-fill w40"> 로그인</button>
				</div>
				
			</form>
		</div>
	</div>
	<div class="join_link">
		<a href="/user/userjoin">회원가입</a><br/>
	</div>
	</div>
</body>
</html>